*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
	margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 80px;    /* Footer height */
}

.container {
	width: 80%;
	margin: 0 auto;
  height: 100%;
}

header {
  background: #F2F2F2;
  height: 80px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 33px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.main_content{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.article_header{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.article_info_bar{
    font-size: 0.85rem;
    color: #888;
    display: block;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2px;
}

.right_col{
  float: right;
    margin-left: 0.5rem;
}

/*
.article-content{
  padding: 1rem;
}
*/
.separation{
  padding: 10px;
  width: 80%;
  margin-left: 9%;
  margin-right: 11%;
  text-align: right;
  display: block;
}

.separation hr{
  border: 2px solid #F2F2F2;
  border-radius: 2px;
}

.related_posts{
  margin-right: 0px;
  margin-left: 60%;
  text-align: right;
}

.related_posts h2{
  text-align: right;
  color: #888;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;            /* Footer height */
  background-color: #F2F2F2;
}

.f_container{
  display: block;
  height: 100%;
  text-align: center;
}


.email{
  padding: 0px;
  width: 40px;
  padding-top: 5px
  /*margin-left: auto;
  margin-right: auto;*/
}

.email:hover{
  opacity: 0.7;
}

.linkedin{
  /*display: block;*/
  padding: 0px;
  width: 40px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.linkedin:hover{
  opacity: 0.7;
}

.github{
  /*display: block;*/
  padding: 0px;
  width: 40px;
  padding-top: 5px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.github:hover{
  opacity: 0.7;
}

.made-with-love{
  padding-top: 2px;
  text-align: center;
}
