<body>
  <div id="page-container">
    <div id="content-wrap">
  <header>
  <div class="container">
    <h1 class="logo">Carlos Olivares</h1>

    <nav>
      <ul>
        <li><a href="{% link index.html %}">Home</a></li>
        <li><a href="{% link about.markdown %}">About</a></li>
        <li><a href="{% link archive.markdown %}">Archive</a></li>
        <li><a href="{% link future_directions.markdown %}">Future Directions</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="main_content">
  <div class="article_header">
    <h1>{{ page.title }}</h1>
  </div>
<div class="article_info_bar">
  <ul class="right_col">
    <li>
      <i class="far fa-calendar-alt"></i>
      <span> {{ page.date | date_to_string: "ordinal", "US" }} </span>
    </li>
  </ul>
</div>
  <div class="article-content">
  {{ content }}
  </div>
</div>
<footer, id="footer">
  <div class="f_container">
    <a href="mailto:carlos.olivares331@gmail.com?Subject=Dummy%20subject">
      <img class="email" src="icons/email.png" ></a>
    <a href="https://www.linkedin.com/in/cao826/"><img class="linkedin" src="icons/linkedin.png"></a>
    <a href="https://github.com/cao826"><img class="github" src="icons/github.png"><a>
  </div>
</footer>
</div>
</div>
</body>
