<footer>
    <ul>
        <li>
            <a href="mailto:carlos.olivares331@gmail.com?Subject=Dummy%20subject">
                <img class="email-link" src="/assets/icons/email.png">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/cao826/">
                <img class="linkedin-link" src="/assets/icons/linkedin.png">
            </a>
        </li>
        <li>
            <a href="https://github.com/cao826">
                <img class="github-link" src="/assets/icons/github.png">
            </a>
        </li>
    </ul>
</footer>
