<head>
    <link rel="stylesheet" href="/css/style.css">
    <title> </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.4/es5/core.min.js" integrity="sha512-ShmsOgK3ovalN2+1NCNiRPfDUi+6lfWZSYdCixG5dvqjWAySozFXk4GZXy3KFoY6+D172DACyi6Raz8d51pP+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://use.fontawesome.com/a566b135ef.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <script src="https://unpkg.com/d3@6.5.0/dist/d3.min.js"></script>
  </head>
