<body>
    <div class="page-wrapper">
    <div class="nav-extend">
    {% include navbar.html %}
    </div>
    <div class="content">
    {{ content }}
    </div>
    <script type="text/javascript" src="/assets/js/navbar.js"></script>
    </div>
    <div class="end-of-post-buttons">
        <button type="button">
            <a href="{% link index.markdown %}">Home</a>
        </button>
        <button type="button">
            <a href="{% link archive.markdown %}">Archive</a>
        </button>
    </div>
    {% include footer.html %}
</body>
