<body>
  <div id="page-container">
    <div id="content-wrap">
  <header>
  <div class="container">
    <h1 class="logo">Carlos Olivares</h1>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="#">Future Directions</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="main_content">
  <div class="article_header">
    <h1>{{ page.title }}</h1>
  </div>
<div class="article_info_bar">
  <ul class="right_col">
    <li>
      <i class="far fa-calendar-alt"></i>
      <span> {{ page.date | date_to_string: "ordinal", "US" }} </span>
    </li>
  </ul>
</div>
  <div class="article-content">
  {{ content }}
  </div>
  <div class="separation">
  <hr>
  <div class="related_posts">
    <h2>Related Posts</h2>
    <ul class="rel_posts">
    {% for post in site.related_posts limit:2 %}
    <a href="{{ post.permalink }}"><li> {{ post.title }} </li></a>
    {% endfor %}
    </ul>
  </div>
  </div>
</div>
{% include footer.html %}
</div>
</div>
</body>
